.container-header{
    padding: calc(var(--padding) * 1.75) 0;
    position: fixed;
    width: 100%;
}

.content-header{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header {
    display: flex;
    gap: calc(var(--gap) * 1.75);
}

.logo-header{
    font-size: calc(var(--font-size) * 1.75);
    color: var(--light-color);
}

.menu-header_link {
    position: relative;
    text-decoration: none;
    color: var(--light-color);
    transition: color var(--transition) ease;
    font-size: calc(var(--font-size) * 1.125);
  }
  
  .menu-header_link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--light-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--transition) ease;
  }
  
  .menu-header_link:hover::after {
    transform: scaleX(1);
  }

.container-header, 
.menu-header_link, 
.logo-header {
    transition: all var(--transition, 0.3s) ease; 
    /* Usa --transition si está definida, sino 0.3s por defecto */
}